.empty-cart {
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.empty-cart span {
  text-align: center;
}

.cart-items {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 15px;
}
.price-section {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 15px;
}
.main-content {
  gap: 0.5rem;
  margin-top: 2rem;
}

.quantity-icon {
  border: 1px solid #dcdcdc;
  padding: 0.2rem;
  margin: 0 10px;
  cursor: pointer;
}
