body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-content-wrapper {
  margin-top: 100px;
}

.star {
  font-size: 50px;
  color: #ffcd3c;
}
.cart-updated {
  background-color: #0c6efd !important;
  color: #fff !important;
}
@media (min-width: 1291px) {
  .search-input {
    width: 800px !important;
  }
}
